<h1>Listing user_mixtapes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Mixtape</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_mixtapes.each do |user_mixtape| %>
  <tr>
    <td><%= user_mixtape.user_id %></td>
    <td><%= user_mixtape.mixtape_id %></td>
    <td><%= link_to 'Show', user_mixtape %></td>
    <td><%= link_to 'Edit', edit_user_mixtape_path(user_mixtape) %></td>
    <td><%= link_to 'Destroy', user_mixtape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User mixtape', new_user_mixtape_path %>
