<h1>Listing song_genres</h1>

<table>
  <tr>
    <th>Genre</th>
    <th>Song</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @song_genres.each do |song_genre| %>
  <tr>
    <td><%= song_genre.genre_id %></td>
    <td><%= song_genre.song_id %></td>
    <td><%= link_to 'Show', song_genre %></td>
    <td><%= link_to 'Edit', edit_song_genre_path(song_genre) %></td>
    <td><%= link_to 'Destroy', song_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song genre', new_song_genre_path %>
